#title {
    text-align: center;
    color: yellow;
    animation: infinite colors 10s;
}

div:not(.cursor) {
    background-color: rgba(255, 255, 255, 0.616);
    backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    border-radius: 2em;
    float: left;
    padding: 10px;
    margin: 3px;
}

li {
    padding: 10px;
    margin: 3px;
    line-height: 24px;
    list-style: none;
    text-align: center;
}