/*Table Styles*/
table {
    width: 100%;
    padding: 16px;
    margin: 0 auto;
    border-radius: 1em;
    background: linear-gradient(to bottom, rgb(190,215,255), rgb(0, 0, 0));
    color: yellow;
    animation: infinite colors 4s;
    border: 5px solid;
}

th, td {
    text-align: center;
    border: 3px solid;
    line-height: 1.4em;
    padding: 10px;
    font-size: 0.9em;
}

th {
    background: linear-gradient(to top, rgb(11, 94, 230), rgb(49, 45, 45));
    color: rgb(161, 255, 255);
}

td {
    font-size: 2em;
    background: linear-gradient(to bottom, rgb(187, 255, 0), rgb(0, 255, 255));
}

/*Columns Styles*/
col.appname {
    width: 25%;
}

col.applink {
    width: 15%;
}

col.youtube {
    width: 35%;
}

@keyframes colors {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

/*Frame Youtube*/
iframe {
    width: 410px;
    height: 231px;
    left: 0px;
    top: 0px;
}

/*Font Size*/
thead th {
    font-size: 1.7em;
}

tbody th:first-of-type {
    font-size: 1.4em;
}