/*Table Styles*/
table {
    width: 100%;
    padding: 16px;
    margin: 0 auto;
    border-radius: 1em;
    background: linear-gradient(to bottom, rgb(190,215,255), rgb(0, 0, 0));
    color: yellow;
    animation: infinite colors 4s;
    border: 5px solid;
}

thead {
    width: 80%;
}

td {
    text-align: center;
    padding: 10px;
}

th, td {
    text-align: center;
    border: 3px solid;
    line-height: 1.4em;
    padding: 10px;
}

th {
    background: linear-gradient(to top, rgb(11, 94, 230), rgb(49, 45, 45));
    color: rgb(161, 255, 255);
}

 td {
   font-size: 0.9em;
   vertical-align: top;
}

/*Columns Styles*/
col.appname {
    width: 25%;
}

col.applink {
    width: 25%;
}

col.youtube {
    width: 50%;
}

 /* Table Header Styles */
thead tr {
    height: 60px;
}
 
thead tr:first-of-type tr:first-of-type {
    font-size: 2em;
}

@keyframes colors {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}