/*Table Styles*/
table {
    width: 100%;
    padding: 16px;
    margin: 0 auto;
    border-radius: 1em;
    background: linear-gradient(to bottom, rgb(190,215,255), rgb(0, 0, 0));
    color: yellow;
    animation: infinite colors 10s;
    border: 5px solid;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

th, td {
    text-align: center;
    border: 3px solid;
    line-height: 1.4em;
    padding: 10px;
}

th {
    background: linear-gradient(to top, rgb(44, 40, 247), rgb(49, 45, 45));
    color: rgb(161, 255, 255);
}

td {
    background: linear-gradient(to bottom, rgb(187, 255, 0), rgb(0, 255, 255));
    display: table-cell;
    vertical-align: inherit;
}

/*Columns Styles*/
col.appname {
    width: 25%;
}

col.applink {
    width: 15%;
}

col.youtube {
    width: 35%;
}

@keyframes colors {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

/*Frame Youtube*/
td#novideo {
    background: linear-gradient(to left, rgb(0, 0, 0), rgb(255, 255, 255));
}

#novideo > p {
    color: white;
    font-weight: bold;
}

.youtube {
    background: linear-gradient(to left, rgb(0, 0, 0), rgb(255, 255, 255));
}

.youtube a {
    color: white;
}

/*Font Size*/
thead th {
    font-size: 1em;
}

tbody th:first-of-type {
    font-size: 1em;
}