* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: url(/../pics/bg.jpg) repeat center center fixed;
    background-size: cover;
}

h1#maintitle {
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    color: yellow;
    animation: infinite colors 4s;
    padding: 0.3em 0.6em;
}

a {
    text-decoration: none;
    color: yellow;
    animation: infinite colors 5s;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: none;
    text-decoration: none;
}

a:visited,
a:link {
    font-weight: normal;
}

a:hover,
a:active {
    font-weight: bold;
}

@keyframes colors {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}