/*Html Size*/
html {
    background: url(/images/bg.jpg) repeat center center fixed;
    background-size: cover;
    margin: 0px auto;
    min-height: 100%;
    min-width: 320px;
    max-width: 1024px;
    width: 100%;
    clear: both;
}

/*Header*/
header > h1#title {
    font-size: 30px;
    text-align: center;
    color: yellow;
    animation: infinite colors 10s;
}