* {
    cursor: none;
}

html {
    background: url(/../pics/bg.jpg) repeat center center fixed;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
    clear: both;
}

body {
    clear: both;
}


/*Link*/
a {
    color: rgb(0, 255, 179);
    text-decoration: none;
    animation: infinite colors 10s;
}

a:visited,
a:link {
    font-weight: normal;
}

a:hover,
a:active {
    font-weight: bold;
}


/*Frame Youtube*/
a.youtube {
    color: rgb(89, 0, 255);
    animation: infinite colors 5s;
}