@media only screen and (max-width: 940px) {
    * {
        margin: auto;
        white-space: nowrap;
    }

    #maintitle {
        display: none;
    }

    body {
        min-width: 100%;
        min-height: 100%;
    }

    header {
        margin-left: 80px;
        margin-right: 100px;
        padding: 0px;
        white-space: nowrap;
    }

    table {
        padding: 14px;
        width: min-content;
        text-align: center;
    }

    table thead tr th:nth-of-type(2),
    table thead tr th:nth-of-type(3) {
        display: none;
    }

    table tbody tr td {
        display: none;
    }

    tbody tr th:hover+td, tbody tr td:hover {
        display: block;
        position: absolute;
    }
}