/*Html Size*/
html {
    background: url(/images/bg.jpg) repeat center center fixed;
    background-size: cover;
}

/* Body */
body {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    padding: 10px;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}

/*Header*/
header > h1.title {
    color: yellow;
    font-size: 25px;
    animation: infinite colors 8s;
    padding: 10px;
    margin: 10px;
}